$colorFondo:#18191a;
$colorLetra: white;
$fuenteLetra: 'Ubuntu', sans-serif;

*{
    background-color: $colorFondo;
    color: $colorLetra;
    font-family: $fuenteLetra;
}

body{
    background: $colorFondo;
}

.draft{
    display: grid;
    grid-template:
                "header"
                "nav"
                "aside"
                "main"
                "footer" /
                380px;
}
/*----HEADER COMUN PARA TODOS LOS HTMLs----*/
.header{
    grid-area:header;
    text-align: center;
    img{
        max-width: 100%;
        height: auto;
    }
    #icon{
        color: white;
    }
}
/*----NAV COMUN PARA TODOS LOS HTMLs----*/
.navbar{
    grid-area: nav;
    a:hover{
        text-decoration: underline
    }
}
/*----ASIDE COMUN PARA TODOS LOS HTMLs----*/
.aside{
    grid-area: aside;
    margin: 30px;
    gap: 20px;
    .ofertas{
        display: flex;
        flex-direction: column;
    }
    h2{
        text-align: center;
        padding-bottom: 40px;
    }
    .asideOferta{
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        gap:10px;
        padding: 15px;
        box-shadow: 0px 1px 5px white;
        img{
            max-width: 100%;
            height: 200px;
        }
        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
}
/*----MAIN y H2 COMUN PARA TODOS LOS HTML----*/
.main{
    grid-area: main;
    margin: 30px;
    gap: 20px;
    h2{
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    /*----Esta parte es de index.html----*/
    .bancos{
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        gap:10px;
        padding: 15px;
        img{
            max-width: 100%;
            height: 200px;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        gap:10px;
        padding: 15px;
        img{
            max-width: 100%;
            height: 200px;
        }
    }
    /*----Esta parte es de notebooks.html----*/
    .mainMarcas{
        grid-area: marcas;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 200px;
        img{
            height: 100px;
            height: 100px;
        }
    }
    /*----Esta parte es de consolas.html----*/
    .mainJuegos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .juegos{
            display: flex;
            flex-direction: column;
            margin: 10px;
            align-items: center;
            img{
                max-width: 100%;
                height: 200px;
            }
        }
    }
    .media{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*----Esta parte es de celulares.html----*/
    .mainAccesorio{
        display: grid;
        grid-template:
                    "acc1       acc2"
                    "acc3       acc4" ;    
        .accesorio{
            display: flex;
            flex-direction: column;
            margin: 10px;
            align-items: center;
            gap:10px;
            padding: 15px;
            img{
                max-width: 100%;
                height: auto;
            }
            p{
                font-size: 15px;
                text-align: center;
            }
            #acc1{
                grid-area: acc1;
            }
            #acc2{
                grid-area: acc2;
            }
            #acc3{
                grid-area: acc3;
            }
            #acc4{
                grid-area: acc4;
            }
        }
    }
    .cardsPlanes{
        margin: 30px;
    }
    /*---Aca esta contactos.html----*/
    #map{
        margin: 10px;
    }
}
/*----FOOTER COMUN PARA TODOS LOS HTMLs----*/
.footer{
    box-shadow: 0px 1px 10px white;
    grid-area: footer;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        color: white;
        text-decoration: none;
    }
    img{
        width: 100%;
        height: 100px;
    }
    #icon{
        max-width: 50px;
        height: 50px;
    }
}
/*----Medias queries para tablet----*/
@media (min-width:768px){
    .draft{
        display: grid;
        grid-template:
                    "header     header"
                    "nav        nav"
                    "aside      main"
                    "footer     footer"/
                    auto        auto;      
    }
    .header{
        grid-area: header;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        img{
            max-width: 100%;
            height: 100px;
        }
        .buscador{
            width: 300px;
            height: 30px;
        }
    }
    .nav{
        grid-area: nav;
        justify-content: space-around;
    }
    .main{
        .cardsPlanes{
            margin: 15px;
        }
        #map{
            margin: 40px;
        }
    }
    .footer{
        img{
            width: 300px;
            height: 100%;
        }
    }
}
/*----Medias queries para computadora----*/
@media (min-width:1024px){
    .draft{
        display: grid;
        grid-template:
                    "header     header"
                    "nav        nav"
                    "aside      aside"
                    "main       main"
                    "footer     footer";
    }
    .aside{
        grid-area: aside;
        .ofertas{
        flex-direction: row;
        justify-content: space-around;
        }
    }
    .main{
        grid-area: main;
        /*----index.html----*/
        .mainBanco{
            grid-area: main;
            display: flex;
            justify-content: space-around;
            p{
                text-align: center;
            }
        }
        .mainInfo{
            display: flex;
            justify-content: space-around;
            p{
                text-align: center;
            }
        }
        /*----Consolas.html----*/
        .mainJuegos{
            display: grid;
            grid-template:
                        "juego1     juego2      juego3"
                        "juego4     juego5      juego6";
        }
        .media{
            flex-direction: row;
            justify-content: space-around;
            #vid{
                height: 300px;
                width: 500px;
            }
        }
        /*----celulares.html----*/
        .mainAccesorio{
            grid-template:
            "acc1       acc2    acc3       acc4" ;  
            .accesorio{
                img{
                    width: 200px;
                    height: 200px;
                }
                p{
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
        .cardsPlanes{
            margin: 100px;
        }
        /*----contacto.html----*/
        #map{
            width: 600px;
            height: 450px;
        }
    }
}